<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd
			 http://www.springframework.org/schema/tx
			 http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
    <context:component-scan base-package="com.ifeng.pgc.*" />
    <context:annotation-config />

    <!--<context:property-placeholder location="classpath:jdbc.properties" />-->
    <!--&lt;!&ndash; 配置dbcp数据源 &ndash;&gt;-->
    <!--<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"-->
          <!--destroy-method="close">-->
        <!--<property name="driverClassName" value="${jdbc.driverClassName}" />-->
        <!--<property name="url" value="${jdbc.url}" />-->
        <!--<property name="username" value="${jdbc.username}" />-->
        <!--<property name="password" value="${jdbc.password}" />-->
        <!--&lt;!&ndash; 队列中的最小等待数 &ndash;&gt;-->
        <!--<property name="minIdle" value="${jdbc.minIdle}"></property>-->
        <!--&lt;!&ndash; 队列中的最大等待数 &ndash;&gt;-->
        <!--<property name="maxIdle" value="${jdbc.maxIdle}"></property>-->
        <!--&lt;!&ndash; 最长等待时间，单位毫秒 &ndash;&gt;-->
        <!--<property name="maxWait" value="${jdbc.maxWait}"></property>-->
        <!--&lt;!&ndash; 最大活跃数 &ndash;&gt;-->
        <!--<property name="maxActive" value="${jdbc.maxActive}"></property>-->
        <!--<property name="initialSize" value="${jdbc.initialSize}"></property>-->
    <!--</bean>-->
    <!--<bean name="paginationInterceptor" class="com.ifeng.pgc.interceptors.PaginationInterceptor"></bean>-->
    <!--&lt;!&ndash; 配置mybitasSqlSessionFactoryBean &ndash;&gt;-->
    <!--<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource" />-->
        <!--<property name="configLocation" value="classpath:mybatis-config.xml"></property>-->
        <!--<property name="plugins">-->
            <!--<list>-->
                <!--<ref bean="paginationInterceptor"></ref>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 配置SqlSessionTemplate &ndash;&gt;-->
    <!--<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
        <!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
    <!--</bean>-->
    <!--&lt;!&ndash; 事务配置 &ndash;&gt;-->
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"-->
                          <!--proxy-target-class="true" />-->
</beans>